/* Your CSS Code here. */
.holder{
	display: flex;
	justify-content:center;
	align-items:center;
	 width: 100vw; /* Take full viewport width */
	  height: 100vh; /* Take full viewport height */
	  /* Optional: Add a background color to the holder */
	  background-color: #f0f0f0;
}
.item-1{
	width: 100px;
	height: 100px;
	background-color: red;
}