/* Your CSS Code here. */
body, .holder {
    margin: 0;
    padding: 0;
}
.holder{
	display: flex;
	justify-content:center;
	align-items:center;
	width: 100vw; 
	height: 100vh; 
}
.item-1{
	width: 100px;
	height: 100px;
	background-color: red;
}